<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Ornament OCR Service{% endblock %}</title>
    <meta charset="utf-8"/>
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
